body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1rem;
}

table {
    border: 3px solid black;
}

td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

th {
    border: 2px dotted black;
    background-color: #d5a17c;
}

#head {
    background-color: #3c1f0a;
    padding-bottom: 20px;
}

#navbar {
    background-color: #b15e23;
}

#heading h1 {
    margin: 0;
    font-size: 4rem;
}

#heading {
    font-style: italic;
}

#heading p {
    margin-top: 2px;
    color: coral;
    font-size: medium;
    font-weight: bold;
}

#opredmetu {
    background: linear-gradient(white, rgb(201, 201, 201));
    padding-top: 54px;
    padding-bottom: 50px;
}

#pred-cvic {
    background-color: white;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    padding: 20px;
    display: inline-block;
}

nav li:hover {
    background-color: #3c1f0a;
}

nav li a {
    font-size: medium;
    color: white;
}

h1 a {
    color: white;
    font-size: larger;
}

h1 {
    margin-bottom: 2px;
}

h2 {
    color: #b15e23;
}

.text-area {
    height: inherit;
    margin-left: 20px;
    margin-right: 20px;
}

#kont-souv {
    background-image: url('data/footer_bg.gif');
    padding-top: 20px;
    padding-bottom: 20px;
}

#kont-souv .text-area {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.kont-souv-item {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

#kont-souv h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dd {
    text-align: right;
    grid-column-start: 2;
}

#kont-souv dt {
    color: white;
}

#kont-souv dd a {
    color: #b15e23;
}

#kont-souv ul li a {
    color: #b15e23;
}

#kont-souv ul {
    list-style: url('data/footer_list_bullet.gif');
}

a {
    text-decoration: none;
}

#pred-cvic a {
    font-weight: bold;
    display: flex;
    margin-bottom: 10px;
    color: black;
}

#pred-cvic img.left {
    float: left;
}

.predn-item a {
    margin-bottom: 10px;
    border-bottom: 1px dotted;
    border-color: #b15e23;
}

.cvic-item {
    margin-bottom: 30px;
    border-bottom: 1px dotted;
    border-color: #b15e23;
}

#pred-cvic p {
    color: #656565;
    font-size: small;
}

#pred-cvic #pravy p {
    height: 50px;
    width: auto;
}

#pred-cvic #levy p {
    width: auto;
    height: 50px;
}

#prednasky {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#right {
    flex: 1;
}

#left {
    margin-right: 20px;
    flex: 1;
}

#prednasky p {
    width: auto;
    height: auto;
}

#pred-cvic .text-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#levy {
    flex: 8;
    background-color: white;
    padding-right: 50px;
    margin-bottom: 50px;
}

#pravy {
    padding-left: 50px;
    flex: 4;
    background: linear-gradient(to left, white, rgb(197, 197, 197));
}

@media (min-width: 1201px) {
    .text-area {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1199px) {
    .text-area {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 991px) {
    #levy {
        flex: 7;
    }
    #pravy {
        flex: 5;
    }
    #prednasky {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    #pred-cvic .text-area {
        flex-direction: column;
    }
    #pred-cvic {
        background: linear-gradient(to bottom, white 63%, rgb(201, 201, 201) 47%);
    }
    #pravy {
        padding-left: 0;
        padding-right: 50px;
        background: none;
    }
    #kont-souv .text-area {
        flex-direction: column;
    }
    dd {
        margin-right: 55%;
    }
}

@media (max-width: 575px) {
    dd {
        margin-right: 30%;
    }
}