/*
Author: Lukas Javorsky (xjavor20)
Project: 2nd ITW project
File: style.css
*/

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.primaryColor {
    color: rgb(37, 117, 236);
}

.secondaryColor {
    color: #4c5358;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#person {
    transition: all .2s ease-in-out;
    width: 140px;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-top: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#person:hover {
    width: 150px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

#bg {
    min-height: max-content;
    flex-basis: 12%;
    background-image: url(./img/bg.png);
}

main {
    flex-basis: 76%;
    background-color: whitesmoke;
}

main h1 {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}

main h2 {
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main section {
    min-height: 100vh;
    border-bottom: 0.5rem solid gainsboro;
    padding: 12rem 3rem 5rem 3rem;
}

.navigation a {
    transition: all .2s ease-in-out;
    color: white;
}

.navigation a:hover {
    font-size: 22px;
    font-weight: bold;
}

.navigation {
    /* Full-height */
    height: 100vh;
    /* Width */
    flex-basis: 12%;
    min-width: 200px;
    position: sticky;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: rgb(37, 117, 236);
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

.navigation li {
    font-size: 18px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}


/* Hide the hamburger and the name when it's not a small screen */

.hamburger {
    display: none;
}

.name {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

#about #info {
    margin-bottom: 10px;
    font-size: 18px;
}

#about #info a {
    font-weight: bold;
}

#about #info a:hover {
    text-decoration: underline;
    /* Darken the text */
    filter: brightness(0.5);
}

#social {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 30px;
}

#social img {
    width: 40px;
    margin-right: 20px;
}

#list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#list .node {
    margin-bottom: 5rem;
}

#list h3 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 4px;
}

.faculty,
.date,
.company-employment,
.team,
h4 {
    font-size: 18px;
}

.node .faculty {
    font-style: italic;
}

.node .spec {
    font-weight: bold;
    margin-bottom: 14px;
}

.item-date {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.date {
    font-weight: bold;
    margin-right: 5rem;
}

.node .company-employment {
    font-style: italic;
    margin-bottom: 10px;
}

.node .team {
    font-weight: bold;
}

.project img {
    width: 40px;
    margin-right: 10px;
}

.project {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.project h4,
.project .type {
    margin: 10px 40px 40px 10px;
}

#projects h3 {
    font-size: 24px;
}

#projects .project-scope {
    border-bottom: 2px solid lightgrey;
    margin-bottom: 100px;
}

#projects-nav-menu a {
    color: white;
}

nav #projects-nav-menu li {
    color: white;
    text-align: center;
    padding: 10px;
    margin-right: 2%;
    background: rgb(37, 117, 236);
    min-width: 12%;
    border: 1px solid black;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5%;
    transition: .2s all;
}

nav #projects-nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 100px;
}


/* Blurs the navigation menu when cursor hovers it */

nav #projects-nav-menu ul:hover li {
    filter: blur(3px);
    opacity: .5;
    transform: scale(.98);
    box-shadow: none;
}


/* Unblurs the selected navigation when cursor hovers it */

nav #projects-nav-menu ul:hover li:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

@media (max-width: 768px) {
    /* Edit fonts */
    p {
        font-size: 12px;
    }
    main h1 {
        font-size: 3rem;
    }
    main h2 {
        font-size: 2rem;
    }
    #about #info {
        font-size: 14px;
    }
    #list h3 {
        font-size: 16px;
    }
    .faculty,
    .date,
    .company-employment,
    .team,
    h4,
    #projects div,
    .node div {
        font-size: 14px;
    }
    #projects h3 {
        font-size: 20px;
    }
    /* Edit margins and paddings */
    main section {
        min-height: 50vh;
        padding: 8rem 1rem 2rem 1rem;
    }
    #social img {
        width: 26px;
        margin-right: 10px;
    }
    .date {
        margin-right: 10px;
        margin-left: 20px;
    }
    .project h4,
    .project .type {
        margin: 10px 10px 20px 10px;
    }
    nav #projects-nav-menu ul {
        margin-bottom: 50px;
    }
    /* Hides the github/gitlab icons for small devices */
    .project img {
        display: none;
    }
    .wrapper {
        display: inline-block;
    }
    /* Transforms the navigation into hamburger menu with the authors name 
    on the left side of the navigation bar */
    .navigation {
        height: 50px;
    }
    #person {
        display: none;
    }
    .navigation a {
        color: black;
    }
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 2.1rem;
        flex-direction: column;
        background-color: white;
        width: 100%;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        right: 0;
    }
    .nav-menu.active li a {
        color: rgb(37, 117, 236);
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        float: right;
        cursor: pointer;
        margin-top: 10px;
        margin-right: 20px;
    }
    .name {
        display: block;
        float: left;
        margin: 15px 0 0 20px;
        font-size: 20px;
        font-weight: bold;
    }
    .navigation ul {
        padding-top: 20px;
    }
}